@font-face {
src: url(fonts/Lato-Bold.ttf);
font-family:bold;
}
@font-face {
src: url(fonts/Lato-Regular.ttf);
font-family:regular;
}
.mid{
  width:80%;
  margin: auto;

}
.header-top{
  background-image: url(images/1.jpg);
  background-repeat:no-repeat;
  -webkit-background-size:contain;
  background-size:contain;
  width:100%;
  height:760px;
  overflow:hidden;
}
.logo{
  margin-top:55px;

}
.text-button h1{
  color:#fff;
  font-family:bold;
  font-size:20px;
}
.text-button p{
  color:#fff;
  font-family:regular;
  font-size:15px;
}

.button a{
  display:block;
  background-color:#ffc908;
  width:150px;
  height:30px;
  padding:10px 0px;
  overflow: hidden;

}
.button a p{
  margin-top:15px;
  margin-left:5px;
  font-size:15px;
  font-family:regular;
  color:#000;
  width:80%;
  margin: auto;
  margin-top:6px;
}
.button a img{
  margin-top:-31px;
  margin-left: 135px;
  display: block;
}
