@font-face {
src: url(fonts/Lato-Bold.ttf);
font-family:bold;
}
@font-face {
src: url(fonts/Lato-Regular.ttf);
font-family:regular;
}
@font-face {
src: url(fonts/Lato-Black.ttf);
font-family:black;
}
@font-face {
src: url(fonts/Merriweather-LightItalic.otf);
font-family:merriweather;
}


body{
  height:2000px;
}
.mid{
  width:80%;
  margin:auto;
  max-width:1200px;
}
.header-top{
  background-image: url(images/bg.jpg);
  background-color:#6b6b6b;
  -webkit-background-size:cover;
  background-size:cover;
  width:100%;
  height:760px;
  overflow:hidden;
}
.logo{
  margin-top:55px;
}
.text-button h1{
  color:#fff;
  font-family:bold;
  font-size:32px;
}
.text-button p{
  color:#fff;
  font-family:regular;
  font-size:15px;
  margin-bottom:15px;
  margin-top:-10px;
}

.button a{
  display:block;
  background-color:#ffc908;
  width:150px;
  height:30px;
  padding:10px 0px;
  overflow: hidden;

}
.button a p{
  margin-top:15px;
  margin-left:5px;
  font-size:15px;
  font-family:regular;
  color:#000;
  width:80%;
  margin: auto;
  margin-top:6px;

}
.button a img{
  margin-top:-31px;
  margin-left: 135px;
  display: block;
}
.slider-text{
  margin-top:174px;

}
.arrow{
  float: left;
  width:15%;
  overflow: hidden;
  margin-top:50px;
}
.text-button{
  width:35%;
  float: left;
  margin-top:24px;
  margin-left:-102px;
}
.text-button img{
  margin-top:17px;
}
.arrow img{
  overflow: hidden;
}
.arrow img:nth-child(1){
  display: block;
  margin-bottom:10px;
}
.slider-text .featured{
  margin-top:-3px;
  margin-left:-436px;
  overflow:hidden;
}
.header-bottom{
  width:100%;
  height:60px;
  background-color:#e21711;
}
.header-bottom ul{
  margin-left:70px;
}
.header-bottom ul li{
  display: inline-block;
  margin-top:18px;
}
.header-bottom ul li a{

  font-family:bold;
  padding:20px 10px;
  color: #fff;
  font-size:13px;

}
.header-bottom ul li:hover a{
  background-color: #cd1411;
  border-bottom:4px solid black;
}
.mission{
  background-color:#000;
  width:100%;
  height:1000px;
  overflow: hidden;
}
.mission .mission-logo{
 margin: auto;
 display: block;
 margin-top:50px;
}
.mission h3{
  font-family:bold;
  font-weight:normal;
  color:#ffc908;
  font-size:18px;
  text-align: center;
  margin-top:15px;
}
.mission h4{
  color: #fff;
  font-family:bold;
  font-size:30px;
  text-align: center;
  margin-top:7px;
}
.mission .mission-left .some-heading{
  width:15%;
  border-left:7px solid #ffca08;
  height:85px;
  }
.mission .mission-left .some-heading h3{
  color: #888888;
  font-size:25px;
  text-align:left;
  font-family:black;
  margin-left:14px;
  margin-top:-20px;
}
.mission .mission-left .some-heading img{
  margin-left:160px;
}
.mission-left{
  width:45%;
  float: left;
}
.mission-left .p1{
  color: #fff;
  margin-left:50px;
  font-family:merriweather;
}
.mission-left .p2{
  color: #fff;
  margin-left:50px;
  font-family:merriweather;
  margin-top:10px;
}
.mission-right{
  width:45%;
  float: left;
}
.mission-left .quote{
  margin-top:20px;
}
.mission-left hr{
  border-top:1px solid white;
  border-bottom:1px solid white;
  line-height:5px;
}
